<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biyan.ubama">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".messaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".welcome.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".HasilPencarianActivity" />
        </activity>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".welcome.LoginActivity"
            android:label="Masuk"
            android:parentActivityName=".welcome.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".welcome.WelcomeActivity" />
        </activity>
        <activity
            android:name=".welcome.RegisterActivity"
            android:label="Daftar"
            android:parentActivityName=".welcome.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".welcome.WelcomeActivity" />
        </activity>
        <activity
            android:name=".HasilPencarianActivity"
            android:label="Hasil Pencarian"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".produk.BarangJasaActivity"
            android:label="Detail Produk"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".HasilPencarianActivity" />
        </activity>
        <activity
            android:name=".keranjang.KeranjangActivity"
            android:label="Keranjang">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".pesanan.PesananActivity"
            android:label="Pesanan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".produk.PemesananActivity"
            android:label="Pemesanan Produk" />
        <activity
            android:name=".beranda.HasilFakultasActivity"
            android:label="Fakultas" />
        <activity
            android:name=".beranda.SubkategoriActivity"
            android:label="Subkategori" />
        <activity
            android:name=".beranda.HasilSubkategoriActivity"
            android:label="Subkategori" />
        <activity
            android:name=".pesanan.DetailPesananActivity"
            android:label="Detail Pesanan" />
        <activity
            android:name=".toko.TokoUserActivity"
            android:label="Toko">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".toko.TokoCreateActivity"
            android:label="Toko">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".produk.TokoActivity"
            android:label="Toko" />
        <activity
            android:name=".produk.KomentarActivity"
            android:label="Komentar" />
        <activity
            android:name=".produk.TanyaJawabActivity"
            android:label="Tanya Jawab" />
        <activity
            android:name=".produk.KirimPertanyaanActivity"
            android:label="Kirim Pertanyaan" />
        <activity
            android:name=".toko.TokoJualProdukActivity"
            android:label="Jual Produk" />
        <activity
            android:name=".toko.TokoPengaturanActivity"
            android:label="Pengaturan Toko" />
        <activity
            android:name=".toko.TokoProdukActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toko.TokoPesananActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toko.TokoTanyaJawabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toko.TokoProdukPilihKategoriActivity"
            android:label="Pilih Kategori" />
        <activity
            android:name=".toko.TokoProdukPilihSubkategoriActivity"
            android:label="Pilih Subkategori" />
        <activity
            android:name=".toko.TokoProdukPilihFakultasActivity"
            android:label="Pilih Fakultas" />
        <activity
            android:name=".toko.TokoDetailPesananActivity"
            android:label="Detail Pesanan" />
        <activity
            android:name=".pesanan.KomentarPesananActivity"
            android:label="Komentar Pesanan" />
        <activity
            android:name=".toko.TokoAlasanDitolakActivity"
            android:label="Tulis Alasan" />
        <activity
            android:name=".toko.TokoLihatProdukActivity"
            android:label="Detail Produk" />
        <activity
            android:name=".toko.TokoEditProdukActivity"
            android:label="Edit Produk" />
        <activity
            android:name=".toko.TokoJawabPertanyaanActivity"
            android:label="Jawab Pertanyaan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.ProfileUserActivity"
            android:label="Profil User" />
        <activity
            android:name=".user.PengaturanUserActivity"
            android:label="Pengaturan User" />
        <activity
            android:name=".user.UbahPasswordUserActivity"
            android:label="Ubah Password" />
        <activity
            android:name=".welcome.ResendVerificationActivity"
            android:label="Verifikasi Ulang" />
        <activity
            android:name=".welcome.ForgotPasswordActivity"
            android:label="Lupa Password" />
        <activity
            android:name=".user.TanyaJawabUserActivity"
            android:label="Tanya Jawab" />
        <activity
            android:name=".user.LihatTanyaJawabUserActivity"
            android:label="Tanya Jawab" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".gps.AlamatActivity"
            android:label="@string/title_activity_alamat" />
        <activity
            android:name=".gps.RouteActivity"
            android:label="@string/title_activity_route"></activity>
    </application>

</manifest>